*{
    margin: 0;
    box-sizing: border-box;
    
}

.navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: rgb(255,255,255);
    background: linear-gradient(130deg, rgb(51, 88, 110) 40%, rgb(54, 65, 70) 60%);
    box-shadow: 1px 3px 16px 0 #000;
}
.navbarLogo{
    max-width: 400px;
    align-items: baseline;
}
.logoImag {
    width: 30px;
    height: 30px;
    border-radius: 30%;
}
  
.logoTitle {
    font-size: 10px;
    margin-left: 5px;
    color: white;
}
.menu {
    width: 70%;
    max-width: 600px;
    color: white;

}
.menuItem {
    list-style: none;
    cursor:pointer;
}
.menuItem a {
    text-decoration: none;
}
  
.menuItem:hover {
    color: #be888b;
}

.iconModal{
    max-width: 40px;
}
.containerTitle{
    margin-top: 6rem;
}

/* 
.span{
    color: rgb(26, 95, 41) ;
}
.link {
    font-weight: 600;
    text-decoration: none;
    
}*/
.title{
    text-align: center;
    color: rgb(10, 4, 4);
    font-weight: 700;
    font-family:'Helvetica Neue', sans-serif;
}

.articlesCards{
    justify-content: space-between;
    margin-top: 5rem;
}
.cardsItem{   
    margin: 15px;
    max-width: 320px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
    text-align: center;
}

.cardsImg{
    margin: auto;
    height: 100%;
    width: 10rem;
    justify-content: center;
}

.cardsImg img{
    height: 6.5rem;
    width: 7.5rem;
}

.cardsText {
font-weight: 400;
}

  #cartContainer {
      display: none;
  }
  .cartContainer{
    width: 50%;
  }

  .cart {
    width: 37rem;
    background: linear-gradient(119deg, rgba(255,255,255) 60%, rgb(51, 88, 110) 40%);
    border-radius: 2%;
}

.cartClose {
    cursor: pointer;
    color: white;
    font-size: large;
}